<section>
    <div class="tit-cabecera">
        <h2>PROYECTOS</h2>
    </div>
        
    <div class="trabajo">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" >
                    <h3>Proyectos en desarrollo</h3>
                        <ul>

                            <li>Pagina Web con servicios de ayuda para adopción, transito de animales y publicaciones de mascotas perdidas. CFP 401 Tres Arroyos. Trabajo en grupo 3 integrantes. <span>Desarrollo en proceso.</span> </li>
                        
                        </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Queda estático por ahora -->